<div class="container mt-4" >
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" class="font-italic font-weight-light">Cliquez sur une Todo pour la sélectionner</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Todo of todos" class="table-borderless">
      <th scope="row" (click)="select_todo(Todo.Name)">{{Todo.Name}}</th>
      <a class="btn text-white btn-dark" routerLink="EditTodo" routerLinkActive="active">Edit</a>
    </tr>
    <div class="text-right">
      <a class="btn text-white btn-dark" (click)="addTodo()">New Todo</a>
    </div>
    </tbody>
  </table>
</div>
