
/*--------------------------------HEADER--------------------------------------*/

/*---------------------------SECOND NAVBAR--------------------------*/

.header-second {
  height: 150px;
  background-color: #FFF;
}

.header-logo {
  width: auto;
  height: 150px;
}

.header-second-menu ul:after {
  content: "";
  clear: both;
  display: inline-block;
}

.header-second-menu li {
  list-style-type: none;
  float:left;
  width: 25%;/*100% divisé par le nombre d'éléments de menu*/
  text-align: center;
}

.header-second-menu a{
  display: block; /*Toute la surface sera cliquable*/
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid #F0F0F0;/*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
  padding: 64px 0;/*Agrandit le menu et espace la bordure du texte*/
}

.header-second-menu a:hover{
  color: #F0C6C6;
  border-bottom: 2px solid #F0C6C6;
}

.header-second-menu li:hover ul {
  left:auto;
}

.mylogo {
  margin-left: 30px;

}
.mylittlefont{
  font: 20px;
}
