<footer class="myfooter">
  <div class="row">
    <div class="col-md-2 offset-md-2 text-center myfooter-social">
      <li><a><i class="fab fa-instagram"></i></a></li>
      <li><a><i class="fab fa-pinterest"></i></a></li>
    </div>
    <div class="col-md-4 text-center myfooter-other">

      <span class="margin"><img src="assets/image/Passbutton.png"></span>
      <span class="margin">Thomas</span>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© thomas 2019 •
    <a href="https://mdbootstrap.com/education/bootstrap/"> Mentions légales</a>
  </div>
</footer>
