
.myfooter {
  background-color: #3B3C3D;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  color: white;
  position: relative;
  margin-bottom: -10px;

}

.margin{
  padding: 10px;
}


.myfooter img {
  height: auto;
  width: 100px;
}

.myfooter-social {
  padding-top: 10px;
  font-size: 20pt;
}

.myfooter-social li {
  list-style: none;
}

.myfooter-other {
  padding-top: 20px;
}

